<div class="testimonial-author-box text-center">
  <h2>Property Details:</h2>
</div>
<div class="content">
  <p class="testimonial-text fs-5">
    <strong >Name: </strong><%= property.name %><br/>
    <strong>Description: </strong><%= property.description %><br/>
    <strong>Location: </strong><%= property.address %>,<%= property.city %><br/>
  </p>
</div>