<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <%= link_to "Home", root_path %>
            </li>
            <li class="list-inline-item">
              <%= link_to "Properties", properties_path %>
            </li>
            <li class="list-inline-item">
              <%= link_to "About", public_about_path %>
            </li>
          </ul>
        </nav>  
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            © Copyright
            <span class="color-a">PropEx</span> All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>